html {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: var(--clrPrimary2);
    color: var(--clrPrimary-1);
}

.images div {
    display: inline;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-inline-end: 5px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    color: var(--clrPrimary-1);
    background-color: var(--clrPrimary3);
    padding: 10px;
    border-radius: 10px;
    transition: bottom .5s;
}

.user-msg.open {
    bottom: 10px;
}