.image-gallery {
    background-color: var(--clrPrimary1);
    border-radius: 25px;
    margin: 1em;
}

.image-gallery img {
    width: 200px;
    cursor: pointer;
    border-radius: 25px;
    margin: 1em;
}