.image-gallery {
    background-color: var(--clrPrimary1);
    border-radius: 25px;
    margin: 1em;
}

.image-gallery img {
    width: 200px;
    cursor: pointer;
    border-radius: 25px;
    margin: 1em;
}

.image-gallery img:hover {
    filter: brightness(1.1);
    box-shadow: 20px 0 60px rgba(7,132,181,0.2), -20px 0 60px rgba(7,132,181,0.2);
}

.image-gallery #filter-input {
    border: 2px solid var(--clrPrimary);
}

.btn-flexible {
    background-color: rgba(18, 128, 192, 0.283);
    border: 1px solid var(--clrPrimary-1);
    border-radius: 25px;
    padding: 8px 12px;
    cursor: pointer;
    color: var(--clrPrimary-1);
}

.btn-flexible:hover {
    color: var(--clrPrimary);
    background-color: var(--clrPrimary-1);
    box-shadow: 60px 0 120px var(--clrPrimary-1), -60px 0 120px var(--clrPrimary-1);
}

