header {
    background: linear-gradient(-80deg, #e11f12 0%, #b90c8b 100%);
}

header img {
    height: 5em;
}

header img:hover {
    cursor: pointer;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-inline-end: 100px;
    transition: color .2s;
}

header a:hover {
    color: #c6c5c5;
}