:root {
    /* palette */
    --clrPrimary3: #192428;
    --clrPrimary2: #2d383c;
    --clrPrimary1: #414c50;
    --clrPrimary: #0784b5;
    --clrPrimary-1: #39ace7;
    --clrPrimary-2: #F5F5F5;
}